
  
    <div class="container">
      <label for="userName"><b>Username</b></label>
      <input type="text" placeholder="UserName" [(ngModel)]="userName" name="userName" required>
  
      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Password" [(ngModel)]="password" name="password" required>
  
      <button (click)="login()" color="primary">Login</button>
    </div>
  
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn">Cancel</button>
    </div>
    
