
<div style="height: 50px; ">
  <div class="logo">
    <img src="/assets/images/portal.jpg" height="30px" style="margin: 10px; margin-left: 15px;">
  </div>
  <div class="navs">
    <a class="nav" (click)="navPage('login')"    [ngStyle]="{ color: currentUrl == '/login' ? '#2874f0' : '#555' }">Login</a>
  </div>
</div>
<div style="height: calc(100vh - 50px); display: inline-block; width: 100%;overflow: auto;margin-bottom: -8px;">
  <router-outlet ></router-outlet>  
</div>