.logo{
    display: inline-block;
}

.navs{
    display: inline-block;
    height: 50px;
    vertical-align: top;
    float: right;
    margin-right: 5%;
}

.nav{
    display: inline-block;
    display: inline-block;
    padding: 15px 15px;
    font-family: sans-serif;
    font-weight: 500;
    color: #555;
}

.nav:hover{
    color: #2874f0;
    cursor: pointer;
}
