<p>student works!</p>
<div>
    <label for="semester"><b>Semester</b></label>
    <input type="number" placeholder="semester" [(ngModel)]="semester" name="semester" required>
</div>
<div>
    <button (click)="getBySemester(semester)">Submit</button>
</div>
<div class="childCol col-lg-3 col-md-3 col-sm-6 col-xs-12" *ngFor="let item of student">
    <div>
        {{item.studentName}}
    </div>

    <div>
        {{item.english}}
    </div>
    <div>
        {{item.physics}}
    </div>
    <div>
        {{item.maths}}
    </div>
    <div>
        {{item.semester}}
    </div>
</div>